body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .container{
	min-width:700px;
}
 */

div {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:0em;
	padding:0em;
	border:1px;
	border-style:inset;
}

.h1{
	display:flex;
	padding-top:30px;
	padding-left:10px;
	margin-left:10px;
	gap:5em;
}

h1{
	padding:0;
	margin:0;
	font-size:40px;
	color:blue;
}

.p-family {	
	padding-right:200px;
	margin-right:200px;
	gap:0;
	border-style:none;
}

nav {
	display:flex;
	margin:1em;
	border:1px;
	border-style:inset;
}

a {
	text-decoration:none;
	align-items:center;
	text-align:center;
}

a:nth-child(2) {
	color:pink;
	font-weight:700;
}

button{
	color:white;
	background-color:blue;
	padding:1em;
	margin:1em;
}

article{
	display:flex;
	justify-content:space-between;
	align-items:center;
	border:1px;
	border-style:inset;
}

article p {
	margin-top:0;
	margin-bottom:1em;
	margin-left:1em;
	padding:0;
	/*text-align:center;*/
}

main{
	display:flex;
	flex-direction:row;
}
	
main p{	
	color:#ffffff;
	font-weight:bolder;
	height:100vh;
}

.color {
	width:20%;
	height:100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.color p {
	text-align: center;
	text-transform: capitalize;
}

.color nav {
	opacity: 0;
	display: flex;
	gap: 1em;
	border: none;
	outline: none;
	margin-top: 55%;
	flex-direction: column;
	transition: opacity 300ms ease-in;
}

.color nav svg {
	padding: 0.3em;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}

.color:hover nav {
	opacity: 1;
}

.one {	
	background-color:#528d74;	
}

.two{
	background-color:#FBCAEF;	
}

.three{
	background-color:#F865B0;
}

.four{
	background-color:#E637BF;
}

.five{
	background-color:#48304D;
}
