@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Recursive:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Recursive', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
}

header {
  font-size: 0.9em;
  padding: 0.85em 0;
  text-align: center;
  background-color: #ffffff;

  position: fixed;
  width: 100%;

  span {
    text-decoration: underline;
  }
}

nav {
  top: 4em;
  z-index: 3;
  position: fixed;
  width: 100%;

  display: flex;
  padding: 2em 4em;
  justify-content: space-between;

  .logo {
    width: 4rem;
  }
}

.navigation {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    color: #ffffff;
    list-style: none;
    margin-right: 2em;
    align-items: center;
    gap: 1.5em;
    padding: 0;

    opacity: 0;
    transition: opacity 200ms ease-in;
    
    li {
      opacity: 0;
      transition-delay: 100ms;
    }
  }

  a {
    letter-spacing: 1px;
    font-size: 0.9em;
  }

  a:hover {
    color: #dc143e;
    text-underline-offset: 6px;
    text-decoration: underline;
    text-decoration-color: #dc143e;
  }

  input[type="checkbox"]:checked ~ ul {
    opacity: 1;

    li {
      opacity: 1;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] ~ label {
    cursor: pointer;

    .open {
      display: inline-block; 
    }

    .close {
      display: none;
    }
  }

  input[type="checkbox"]:checked ~ label {
    .open {
      display: none;
    }

    .close {
      display: inline-block;
    }
  }
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-image: url(../images/Atomix1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: border-box;

  background: hsla(0, 0%, 0%, 0.2);

  color: #ffffff;
}

#background-image {
  z-index: -1;
  object-fit: cover;
  object-position: center;

  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;

  transition: opacity 200ms linear;
}

.cta-links {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: center;

  a {
    font-size: 2.5em;
    letter-spacing: 3px;
    text-transform: uppercase;    
    text-underline-offset: 0.4em;
    text-decoration: 2px solid underline transparent;
    transition: text-decoration 600ms ease-in;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}
